[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jpype1 = {version = "*"}
torch = {version="*"}
torchvision = {version="*"}
torchaudio =  {version="*"}
deeponto = "*"
biomappings = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.14"
